<app-navbar></app-navbar>

<div class="container text-center pt-5">
  <h1 class="animate__animated animate__bounce animate__infinite">
    ¿De que TEAM eres 🤔💭?
  </h1>

  <div class="row p-3">
    <a
      class="animate__animated animate__bounce animate__infinite"
      [routerLink]="['marvel']"
      routerLinkActive="router-link-active"
    >
      <img
        src="../../../../../assets/marvel.svg"
        width="200"
        height="200"
        alt=""
      />
    </a>
    <a
      class="animate__animated animate__bounce animate__infinite"
      [routerLink]="['dc']"
      routerLinkActive="router-link-active"
    >
      <img src="../../../../../assets/dc.svg" width="200" height="200" alt="" />
    </a>
  </div>
</div>
