.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#caja {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: rgb(17, 24, 39);
  opacity: 1;
  color: white;
  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

@media (min-width: 768px) {
  img {
    height: 500px;
  }
}

@media (min-width: 992px) {
  div {
    padding: 5px;
    img {
      height: 500px;
    }
  }
}
